/* --- NAVBAR --- */

.navbar {
    background-color: #4c9d24;
}

.nav-link {
    color: #fff;
    padding: 0 0.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.logo {
    display: block;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 1.4em;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    border-color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* --- GENERAL --- */

body {
    padding-top: 3.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
}

.home-banner {
    display: flex;
    height: 550px; 
    align-items: center;
    color: #fff;
}

.green-banner {
    background-color: #275211;   
}

.green-box {
    height: 20em;
    border: 20px solid #70b50e;  
    background-color: #70b50e;
    padding: 0;
}

.green-box-border {
    display: flex;
    border: 2px dashed #fff; 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.green-box-border h3 {
    color: #fff;
    padding: 2em;
    font-weight: bold;
    text-align: center;
}

.services {
    height: auto;
    padding-top: 3.5em;
    background-color: aliceblue;
}

.media {
    padding: 1em;   
}

/* --- ABOUT --- */

.container-about {
    background-color: #70b50e;
    color: #fff;
}

.about-info {
    padding: 2em;
}

.frank-img {
    padding: 0;
    margin-bottom: 3em;
    width: 100%;
}

.selling-points {
    padding: 0;
    margin: 0;
}

.selling-points > i {
    padding-right: 0.75em;   
}

h3.bold {
    margin-bottom: 0.75em;   
}

h3.bold + p {
    margin-bottom: 3em;   
}

/* --- PROJECTS --- */

section.container-projects {
    height: auto;
    background-color: aliceblue;
}

section.container-projects div.container {
    padding-top: 3em;
    text-align: center;
}

h2.projects-title {
    padding-top: 0.5em;
    font-weight: bold;
    color: #70b50e;
}

h2.projects-title + p {
    width: auto;
    margin: 1em auto 0 auto;
    padding-bottom: 1.5em;
}

h2.projects-title + p + div {
    width: 15em;
    margin: 0 auto;
    border-bottom: 3px solid #70b50e;
}

img[src="img/leaf.png"] {
    width: 2em;   
}

ul.projects {
    display: block;
    width: auto;
    margin: 3em auto 0 auto;
    border: none;   
}

div.projects-media {
    margin: 2em;   
}

ul.projects > li {
    justify-content: space-between;
    padding: 0.25em;
    width: 100%;
}

div.img-overlay {
    position: relative;
}

div.project-item img {
    width: 100%;   
}

div.project-item h5 {
    font-weight: bold;
    color: #70b50e;
    margin: 1em auto 0 0;
    text-align: left;
}

div.project-item small {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.hover-plus {
    position: absolute;
    top: 0;
    left: 0;
    background: #70b50e;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s;
}

.hover-plus:hover {
    opacity: 1;
    transition: all 0.5s;
}

/* --- BUTTONS --- */

.contact-button {
    display: flex;
    background-color: #70b50e;
    border: none;
    margin-top: 2em;
    height: 58px;
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background 0.5s;
}

.contact-button:hover {
    background-color: #4c9d24;
    transition: background 0.5s;
}

.mail-icon {
    font-size: 1.2em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #fff;
}

.service-icon {
    padding: 0.75em;
    width: 5em;
}

.plus-vertical {
    display: block;
    position: absolute;
    left: 6.2em;
    width: 10px;
    color: #fff;
    padding: 3.3em 1.3em;
    margin: 0 auto;
    border-bottom: 3px solid #fff;
    z-index: 20;
}

.plus-horizontal {
    display: block;
    position: absolute;
    top: 5.4em;
    width: 10px;
    color: #fff;
    padding: 1.3em 4em;
    margin: 0 auto 0em 7.5em;
    border-left: 3px solid #fff;
    z-index: 20;
}



/* --- TYPOGRAPHY --- */

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 50px;
}

h2, h3, h4 {    
    font-family: 'Roboto Slab', serif;
    font-weight: normal; 
}

.bold {
    font-weight: bold;
}

/* --- GRID --- */

.grid { 
    overflow: hidden;
}

div.services .unit {
    float: left;
    height: 8em;
}

div.projects-media .unit {
    max-height: 20em;
    max-width: 18em;
    padding: 1em;
    margin: 0 auto;
}


/* --- MEDIA QUERIES --- */

/* --- Small --- */

@media (min-width: 576px) {
    .frank-img {
        margin-bottom: 0;   
    }
    
    h2.projects-title + p {
        width: 30em;
    }
    
    ul.projects {
        display: flex;
        width: 35em;   
    }
}


/* --- Medium --- */

@media (min-width: 768px) {
    .logo {
        display: inline-block;
        height: 1.85em;
        width: auto;
    }
    
    .green-box {
        height: 32em;
    }
    
    .services {
        height: 32em;
    }
    
    .container-services {
        display: flex;
        align-items: center;
        height: 480px;
        background-color: aliceblue;
    }
    
    ul.projects {
        width: 45em;   
    }
    

    

}

/* --- Large --- */

@media (min-width: 992px) {
    .services {
        height: 360px;
    }
    
    .green-box {
        height: 360px
    }
}

/* --- Extra large --- */

@media (min-width: 1200px) {
    .frank-about {
        padding-top: 2.5em;   
    }
}

