/* --- NAVBAR --- */

.navbar {
    background-color: #50952e;
}

.nav-link {
    color: #fff;
    padding: 0 0.75em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    border-color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* --- GENERAL --- */

body {
    padding-top: 3.5em;
}

.container {
    max-width: 1170px;
    width: 100%;
}

.home-banner {
    display: flex;
    height: 750px; 
    align-items: center;
    color: #fff;
}

.green-banner {
    background-color: #275211;   
}

/* --- MEDIA QUERIES --- */

@media (min-width: 768px) {
    .logo {
        display: inline-block;
        height: 1.85em;
        width: auto;
    }


    
}

