/* --- NAVBAR --- */

.navbar {
    background-color: #4c9d24;
}

.nav-link {
    color: #fff;
    padding: 0 0.5em;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.logo {
    display: block;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 1.4em;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    border-color: #fff;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

a.nav-link {
    padding-bottom: 0.25em!important; 
}

a.active {
    border-bottom: 1px solid #fff;
}

a.active:active,
a.active:focus,
a.active:hover,
a.active:visited {
    border: none!important;   
}

/* --- GENERAL --- */

body {
    position: relative;
    padding-top: 3.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
}

.home-banner {
    display: flex;
    height: 550px; 
    align-items: center;
    color: #fff;
}

.green-banner {
    background-color: #275211;
}

.green-box {
    height: 20em;
    border: 20px solid #70b50e;  
    background-color: #70b50e;
    padding: 0;
}

.green-box-border {
    display: flex;
    border: 2px dashed #fff; 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.green-box-border h3 {
    color: #fff;
    padding: 2em;
    font-weight: bold;
    text-align: center;
}

.services {
    height: auto;
    padding-top: 3.5em;
    background-color: aliceblue;
}

.media {
    padding: 1em;   
}

/* --- ABOUT --- */

.container-about {
    background-color: #70b50e;
    color: #fff;
}

.about-info {
    padding: 2em;
}

.frank-img {
    padding: 0;
    margin-bottom: 3em;
    width: 100%;
}

.selling-points {
    padding: 0;
    margin: 0;
}

.selling-points > i {
    padding-right: 0.75em;   
}

h3.bold {
    margin-bottom: 0.75em;   
}

h3.bold + p {
    margin-bottom: 3em;   
}

/* --- PROJECTS --- */

section.container-projects {
    height: auto;
    padding-bottom: 1.5em;
    background-color: aliceblue;
}

section.container-projects div.container {
    padding-top: 3em;
    text-align: center;
}

h2.projects-title {
    padding-top: 0.5em;
    font-weight: bold;
    color: #70b50e;
}

h2.projects-title + p {
    width: auto;
    margin: 1em auto 0 auto;
    padding-bottom: 1.5em;
}

h2.projects-title + p + div {
    width: 15em;
    margin: 0 auto;
    border-bottom: 3px solid #70b50e;
}

img[src="img/leaf.png"] {
    width: 2em;   
}

div.projects-media {
    margin: 2em 3em;   
}

div.projects {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 40em;
    justify-content: space-around;
    margin: 2em auto 0 auto;
    padding: 0.25em;
}

div.projects button {
    background-color: aliceblue;   
}

.active-filter-btn {
    color: #70b50e;
    border: 1px solid #70b50e;
    border-radius: 1px;
}

a:focus,
button:focus {
    outline-color: #70b50e!important;
    outline-style: double!important;
}

div.img-overlay {
    position: relative;
}

div.projects-media .row {
    margin: 0 auto;
}

div.project-item img {
    width: 100%;
}

div.project-item h5 {
    font-weight: bold;
    color: #70b50e;
    margin: 1em auto 0 0;
    text-align: left;
}

div.project-item small {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.hover-plus {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    background: #70b50e;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s;
}

.hover-plus:hover {
    opacity: 1;
    transition: all 0.5s;
    text-decoration: none;
}

.hover-plus:hover > i {
    font-size: 1.5em;
    transition: all 150ms ease;
}

.hover-plus > i {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: aliceblue;
    font-size: 3em;
    transition: all 150ms ease;
}

/* --- CONTACT US --- */

section.contact-prompt {
    display: flex;
    align-items: center;
    height: 162px;
    background-color: #37382a;
}

section.contact-prompt .container {
    position: relative;
    display: flex;
    align-items: center;
}

img.contact-leaves {
    position: absolute;
    top: -5em;
    left: 0;
    display: inline-block;
    width: 100%;
    max-width: 12em;
}

h4.need-help {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 18em;
}

h4.need-help + a {
    display: flex;
    align-self: center;
    margin: 0 auto;
}

h4.need-help span {
    color: #70b50e;
    margin-right: 1em;
}

#white {
    color: #fff;   
}

/* --- FAQ --- */

section.faq {
    height: auto;
    background-color: aliceblue;
}

div.faq-grid {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0 0;
}

div.faq-img {
    margin: 1em auto;
    flex-direction: column;
}

div.faq-content {
    display: block;
    margin: 1.5em auto;
}

section.faq h3 {
    color: #70b50e;
    font-weight: bold;
}

div.faq-border {
    border-bottom: 4px solid #70b50e;
    width: 3em;
}

div.myAcc {
     margin-top: 1em;
}

div.card-header {
    background-color: #70b50e;
}

div.card-header > a {
    color: #fff;
    text-decoration: none;
}

div.card-header > a:hover {
    text-decoration: none;   
}

div.card-header > i {
    color: #fff;
}

p.card-p {
    display: inline;
    margin-left: 0.5em;   
}

p.card-p:hover {
    text-decoration: underline;   
}

/* --- CLIENTS --- */

section.container-clients {
    height: auto;
    padding-bottom: 1em;
    background-color: aliceblue;
}

section.container-clients > .container {
    padding-top: 3em;   
}

section.container-clients div.media {
    margin: 0 auto;
    padding: 1.75em;
}

section.container-clients div.media img {
    margin-right: 0.5em;
}

section.container-clients div.container {
    text-align: center;
}

div.clients-title {
    margin-bottom: 2em;   
}

div.clients-content {
    position: relative;
    text-align: left;
}

div.clients-content > h4 {
    color: #70b50e;
    font-weight: bold;
    margin-bottom: 0;
}

div.clients-content > img {
    position: absolute;
    top: 0;
    right: 0.75em;
}

div.clients-content > p {
    margin-top: 0.5em;   
}

/* --- GET A QUOTE --- */

section.quote {
    height: auto;
    background-color: #70b50e;
}

section.quote > .container {
    display: block;
    margin: 0 auto;
    padding: 4em 3em;
}

section.quote h2 {
    color: #fff;
    font-weight: bold;
}

div.quote-border {
    border-bottom: 4px solid #fff;
    width: 3em;
}

section.quote p {
    color: #fff;
    width: 95%;
}

section.quote form {
    margin-top: 3em;   
}

section.quote label {
    color: aliceblue;
}

section.quote button {
    margin: 0.5em 1em 0;
    background-color: #4c9d24;
    color: #fff;
    border: 1px solid #70b50e;
    height: 3em;
    width: 12em;
    transition: all 0.5s ease;
}

section.quote button:hover {
    background-color: #4c9d24;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease;
}

/* --- FOOTER --- */

footer {
    background-color: #275211;
    height: 200px;
}


/* --- BUTTONS --- */

.contact-button {
    display: flex;
    background-color: #70b50e;
    border: none;
    margin-top: 2em;
    height: 58px;
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background 0.5s;
}

.contact-button:hover {
    background-color: #4c9d24;
    transition: background 0.5s;
}

.mail-icon {
    font-size: 1.2em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid #fff;
}

.service-icon {
    padding: 0.75em;
    width: 5em;
}


/* --- TYPOGRAPHY --- */

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 50px;
}

h2, h3, h4 {    
    font-family: 'Roboto Slab', serif;
    font-weight: normal; 
}

.bold {
    font-weight: bold;
}

/* --- GRID --- */

.grid { 
    overflow: hidden;
}

div.services .unit {
    float: left;
    height: 8em;
}

div.projects-media .unit {
    max-height: 20em;
    max-width: 18em;
    padding: 1em;
    margin: 0 auto;
}


/* --- MEDIA QUERIES --- */

/* --- Small --- */

@media (min-width: 576px) {
    .frank-img {
        margin-bottom: 0;   
    }
    
    h2.projects-title + p {
        width: 30em;
    }
    
    ul.projects {
        display: flex;
        width: 35em;   
    }
    
    h4.need-help {
        flex-direction: row;
    }
    
    div.projects {
        flex-direction: row;   
    }
}


/* --- Medium --- */

@media (min-width: 768px) {
    .logo {
        display: inline-block;
        height: 1.85em;
        width: auto;
    }
    
    .green-box {
        height: 32em;
    }
    
    .services {
        height: 32em;
    }
    
    .container-services {
        display: flex;
        align-items: center;
        height: 480px;
        background-color: aliceblue;
    }
    
    ul.projects {
        width: 45em;   
    }
    
    h4.need-help {
        margin-left: 8em;   
    }
    
    .faq-grid {
        display: flex;   
    }
    
    div.container-projects {
        display: flex;
        justify-content: center;
    }
}

/* --- Large --- */

@media (min-width: 992px) {
    .services {
        height: 360px;
    }
    
    .green-box {
        height: 360px
    }
    
    h4.need-help {
        width: 28em;
    }
    
    .lg-visible {
        display: block!important;   
    }
}

/* --- Extra large --- */

@media (min-width: 1200px) {
    .frank-about {
        padding-top: 2.5em;   
    }
    
    /*
    .plus-vertical {
        display: block;
        position: absolute;
        left: 6.2em;
        width: 10px;
        color: #fff;
        padding: 3.3em 1.3em;
        margin: 0 auto;
        border-bottom: 3px solid #fff;
        z-index: 20;
    }

    .plus-horizontal {
        display: block;
        position: absolute;
        top: 5.4em;
        width: 10px;
        color: #fff;
        padding: 1.3em 4em;
        margin: 0 auto 0em 7.5em;
        border-left: 3px solid #fff;
        z-index: 20;
    } */
    
    h4.need-help {
        margin-left: 9.5em;
    }
}

